<ion-header>
  <ion-toolbar>
    <ion-title class="fw-bold">Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="movieDetails">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-md="4">
          <ion-img [src]="movieDetails.Poster" alt="{{ movieDetails.Title }}"></ion-img>
          <ion-button class="back-button heartbeat" (click)="goBackToTab1()" fill="clear" color="primary">
            Home
          </ion-button>
        </ion-col>
        <ion-col size="12" size-md="8">
          <ion-card-header>
            <ion-card-title>{{ movieDetails.Title }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p><strong>Anno:</strong> {{ movieDetails.Year }}</p>
            <p><strong>Genere:</strong> {{ movieDetails.Genre }}</p>
            <p><strong>Regista:</strong> {{ movieDetails.Director }}</p>
            <p><strong>Valutazione:</strong> {{ movieDetails.imdbRating }}</p>
            <p><strong>Trama:</strong> {{ movieDetails.Plot }}</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>


