<ion-header>
  <ion-toolbar>
    <ion-img src="../../assets/icon/movie.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <!-- Prima search bar -->
    <div class="search-bar">
      <ion-item class="search-item">
        <ion-label class="fw-bold text-blu">Search film</ion-label>
        <ion-input type="text" [(ngModel)]="searchTerm" (ionChange)="filterMediaList()" class="search-input"></ion-input>
      </ion-item>
    </div>

    <!-- Seconda search bar -->
    <div class="search-bar">
      <ion-item class="sort-item">
        <ion-label class="fw-bold text-blu">Sort by</ion-label>
        <ion-select [(ngModel)]="selectedSortCriteria" (ionChange)="onSortChange($event)" class="sort-select">
          <ion-select-option *ngFor="let option of sortCriteriaOptions" [value]="option">
            {{ option }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Resto del contenuto -->
    <ion-segment [(ngModel)]="selectedSegment" (ionChange)="segmentChanged()">
      <ion-segment-button value="movies" class="bounce-top mt-5">
        Movies
      </ion-segment-button>
      <ion-segment-button value="series" class="bounce-top mt-5">
        Series
      </ion-segment-button>
    </ion-segment>

    <!-- Utilizziamo *ngFor per ciclare sui film e generare dinamicamente le card con l'effetto desiderato -->
    <div class="row mt-5">
      <div class="col-3" *ngFor="let media of (filteredMediaList.length === 0 ? groupedMediaList : filteredMediaList)">
        <figure class="snip1545">
          <img [src]="media.Poster" alt="{{ media.Title }}" />
          <figcaption>
            <div><i class="ion-eye"></i></div>
          </figcaption>
          <!-- Aggiungi routerLink per reindirizzare alla pagina dei dettagli -->
          <a [routerLink]="['/dettagli', media.imdbID]"></a>
        </figure>
      </div>
    </div>
  </div>
</ion-content>








