@import "~bootstrap/dist/css/bootstrap.min.css";


/*CARD */



  /**------*/
  
  @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
  .snip1545 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    color: #ffffff;
    font-size: 16px;
    background-color: #000000;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
  }
  
  .snip1545 *,
  .snip1545 *:before,
  .snip1545 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .snip1545 img {
    max-width: 100%;
    backface-visibility: hidden;
    vertical-align: top;
  }
  
  .snip1545 figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .snip1545 figcaption:before,
  .snip1545 figcaption:after,
  .snip1545 figcaption div:before,
  .snip1545 figcaption div:after {
    opacity: 0;
  }
  
  .snip1545 figcaption:before,
  .snip1545 figcaption:after {
    height: 50%;
    width: 50%;
    position: absolute;
    content: '';
    background-color: #080808;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  
  .snip1545 figcaption:before {
    top: 0;
    left: 0;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
  }
  
  .snip1545 figcaption:after {
    bottom: 0;
    right: 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  .snip1545 figcaption div:before,
  .snip1545 figcaption div:after {
    width: 50%;
    height: 50%;
    position: absolute;
    content: '';
    background-color: #000000;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  
  .snip1545 figcaption div:before {
    top: 0;
    right: 0;
    -webkit-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
  
  .snip1545 figcaption div:after {
    bottom: 0;
    left: 0;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
  }
  
  .snip1545 i {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 4em;
    z-index: 1;
    opacity: 0;
  }
  
  .snip1545 a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  
  .snip1545:hover img,
  .snip1545.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5;
  }
  
  .snip1545:hover i,
  .snip1545.hover i {
    opacity: 0.7;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }
  
  .snip1545:hover figcaption:before,
  .snip1545.hover figcaption:before,
  .snip1545:hover figcaption:after,
  .snip1545.hover figcaption:after,
  .snip1545:hover figcaption div:before,
  .snip1545.hover figcaption div:before,
  .snip1545:hover figcaption div:after,
  .snip1545.hover figcaption div:after {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 0.8;
  }



  /*button */

  .bounce-top {
    -webkit-animation: bounce-top 0.9s both;
            animation: bounce-top 0.9s both;
  }


@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}




/* Stile per le search bar */
.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: left;
}

/* Riduci la larghezza delle search bar */
.search-item, .sort-item {
  max-width: 350px; 
}

/* Aggiungi spazio tra le search bar */
.search-bar:not(:last-child) {
  margin-right: 10px;
}

/* Stile aggiuntivo per la search bar */
.search-item .search-input {
  max-width: 100px; 
}





/* logo */
.logo {
  width: 100px; /* Imposta la larghezza desiderata per il logo */
  height: 100px; /* Imposta l'altezza desiderata per il logo */
  margin-right: 10px;
}

/* navbar */

.navbar-nav.ml-auto .nav-item {
  margin-left: 15px; /* Aggiungi margine sinistro tra le icone */
}



.custom-tab-bar {
  height: 45px;
  /* Aggiungi altri stili personalizzati qui se necessario */
}



/* ----- Pagina dettagli ----- */
ion-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

ion-img {
  max-width: 300px;
  margin-bottom: 10px;
}

ion-card-content {
  text-align: center;
}

ion-card-content p {
  font-size: 14px;
  margin: 5px 0;
}

/* ----- Button details ----- */

.heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}



 @-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


.trailer-preview {
  background-color: #ff3d49;
  position: absolute;
  top: 395px;
  right: 18px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 13px;
}
.trailer-preview:hover, .trailer-preview:disabled, .trailer-preview:active, .trailer-preview:focus {
  background-color: #c41200;
  color: white;
}
.trailer-preview i {
  margin-left: 5px;
}

.metadata {
  background: none;
  padding: 0;
  position: relative;
  border-style: none;
}

.metadata {
  font-size: 16px;
}
.metadata i, .metadata p {
  float: left;
}
.metadata p {
  margin-top: 0;
  margin-left: 10px;
}
.metadata i {
  color: #ff9d00;
  margin-top: 5px;
  margin-left: 1px;
}



ion-content.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(
      rgba(30, 27, 38, 0.95),
      rgba(30, 27, 38, 0.95)
    ),
    url("https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  position: relative; /* Aggiungiamo questa proprietà per posizionare correttamente il button */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.card {
  /* Stile della card come desiderato */
}

.back-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}


/* Navbar */

.dummy-content {
  height: 1000px; /* Imposta l'altezza del contenuto fittizio per estendere la pagina */
}
